.sidenav {
  min-height: 100vh;
  width: 4in;
}

.main-view {
  width: 35vw;
  margin-top: 30px;
  margin-bottom: 0.5in;
  margin-left: 6in;
  flex-grow: 1;
}

@media (max-width: 1000px) {
  .sidenav {
    width: 2in;
    min-height: 100vh;
  }

  .main-view {
    width: 35vw;
    margin-top: 30px;
    margin-bottom: 0.5in;
    margin-left: 3in;
    flex-grow: 1;
  }
}
